header {
    height: 186px;
    #carousel-example-generic{
      .carousel-inner{
        .item{
          img{
            height: 185px !important;
          }
        }
      }
    }
    #header-brand {
      background: url(../../images/banner-n1.png) left top no-repeat;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        height: 185px;
        z-index: 2;
        #background-brand {
            height: 185px;
            position: relative;
            top: 0;
            .brand-text {
                display: inline-block;
                position: relative;
                left: 410px;
                top: 40px;
                h1{
                  color: #00588f;
                  font-family: arial;
                  font-size: 28px;
                  font-weight: bold;
                  line-height: 35px;
                  margin: 0 0 5px;
                  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                  text-transform: uppercase;
                }
                h2{
                  color: #e81d02;
                  font-size: 42px;
                  font-weight: bold;
                  margin: 0;
                  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                  text-transform: uppercase;
                }
            }
        }

        .language-wrapper {
            position: absolute;
            top: 5px;
            right: 10px;
            .language-list {
                width: 100%;
                padding: 5px;
            }
        }
    }


}
