header {
    height: 186px;
    #carousel-example-generic{
      .carousel-inner{
        .item{
          img{
            height: 185px !important;
          }
        }
      }
    }
    #header-brand {
      background: url(../../images/banner-n1.png) left top no-repeat;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        height: 185px;
        z-index: 2;
        #background-brand {
            height: 185px;
            position: relative;
            top: 0;
            .brand-text {
                display: inline-block;
                position: relative;
                left: 410px;
                top: 40px;
                h1{
                  color: #00588f;
                  font-family: arial;
                  font-size: 28px;
                  font-weight: bold;
                  line-height: 35px;
                  margin: 0 0 5px;
                  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                  text-transform: uppercase;
                }
                h2{
                  color: #e81d02;
                  font-size: 42px;
                  font-weight: bold;
                  margin: 0;
                  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                  text-transform: uppercase;
                }
            }
        }
        .language-wrapper {
            position: absolute;
            top: 5px;
            right: 10px;
            .language-list {
                width: 100%;
                padding: 5px;
            }
        }
    }
}
.hot-news-block {
    border-bottom: 1px solid #e1e8ee;
    padding-bottom: 4px;
    padding-top: 7px;
}
.box-content {
    margin-top: 8px !important;
    margin-bottom: 3px !important;
}
/* === Slider === */
#featured-slider{
    border: 1px solid #e1e8ee;
    margin-bottom: 8px;
    .item{
        position: relative;
        padding: 5px;
        img{
            width: 100%;
        }
        &:hover{
          img{
            opacity: .85;
          }
        }
        .slider-item-cap{
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            padding: 30px 15px 15px 15px;
            // background-image: -webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,0.9) 100%);
            // background-image: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.9) 100%);
            // background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e5000000', GradientType=0);
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            .s-cat{
                margin-bottom: 5px;
                letter-spacing: 1px;
                a{
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #fff;

                }

            }
            .s-title{
                color: #fff;
                font-size: 14px;
                line-height: 16px;
                &:hover{
                    text-decoration: none;
                }
            }


        }
    }
    .owl-controls{
        margin: 0;

        position: absolute;
        bottom: 24px;
        right: 10px;
        .owl-page span{
            display: none;
            background: #fff;
            margin: 5px 3px;
            width: 10px;
            height: 10px;
        }
    }
}



.portlet{
  width: 100%;
}
.portlet-header{
  width: 100%;
  border-bottom: 1px solid #e1e8ee;
  a.portlet-danh-muc-title {
      text-decoration: none !important;
      display: block;
  }
  .underline {
      display: block;
      width: 50px;
      padding: 0;
      border-top: 2px solid #0181ff;
      margin-bottom: -1px;
      border-radius: 0px 2px 0px 0px;
  }
}
.portlet-content {
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  width: 100%;
  position: relative;
  text-align: justify;
}
.no-pd-top {
    padding-top: 0px !important;
}
.portlet-header-icon {
    display: inline-block;
    float: left;
    padding-right: 5px;
}
.portlet-header-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 6px;
    margin: 0px;
    color: #222;
    display: inline-block;
}
.main-news {
    float: left;
    padding-right: 10px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #e1e8ee;
    overflow: hidden;
    padding-bottom: 10px;
    .main-news-title {
        font-size: 14px;
        color: #000000 !important;
        line-height: 18px;
        &:hover{
          text-decoration: none;
        }
    }
    .main-news-thumb-nail {
      margin-top: 10px;
      float: left;
      width: 35%;
      img {
          width: 100%;
          max-width: 100%;
          padding-right: 10px;
      }
    }

    .main-news-content{
      margin-top: 8px;
    }
}
.bold{
  font-weight: bold !important;
}
.news-title {
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
}


.bullet-arrow{
  .icon-list {
      position: absolute;
      padding-right: 10px;
      color: #007cff;
      text-align: center;
      left: 0px;
      i {
          background: url(../../images/icon/icons.png) no-repeat -83px -34px;
          width: 4px;
          height: 7px;
          display: inline-block;
      }
  }
}

.default-news-content {
    border-bottom: 1px solid #e1e8ee;
    padding-bottom: 7px;
    display: block;
    overflow: hidden;
    line-height: 18px;
    font-size: 0.9em;
}

.news-item{
    padding-top: 6px;
}

.default-news{
    border-bottom: 0px;
}

.link-news-content {
    margin-left: 15px;
    text-align: justify;
    font-size: 0.9em;
    /* padding-left: 10px; */
}
