/* === Slider === */
.owl-carousel{
    // border: 1px solid #e1e8ee;
    margin-bottom: 8px;
    .item{
      padding: 10px;
    }
    .content_news{
      position: absolute;
      bottom: 0;
      // background: rgba(55, 145, 245, 0.7) none repeat scroll 0 0;
      background-color: rgba(55, 145, 245, 0.7);
      height: 60px;
      -webkit-transition: all 500ms ease 0s;
      -o-transition: all 500ms ease 0s;
      transition: all 500ms ease 0s;

      margin-right: 10px;
      margin-bottom: 10px;

      padding: 5px;
      a{
       text-decoration: none;
       font-size: 0.9em;
       color: white;
       .img-responsive {
       	display: inline-block;
         padding: 5px;
       }
      }
      &:hover {
            height:60%;
      }
    }




    .owl-buttons{
      div {
      	background: url("../../images/sprite.png") no-repeat 0 0;
      	font-size: 0;
      	height: 35px;
      	width: 35px;
      	top: 40% !important;
      }
      .owl-prev {
      	background-position: -15px -32px;
        left: 0px;
        &:hover {
        	background-position: -15px -65px;
        }
      }
      .owl-next {
      	background-position: -7px -101px;
        right: 0px;
        &:hover {
        	background-position: -7px -136px;
        }
      }
    }
}


element.style {
}

.item-video-owl{



  .icon-play-vid {
      background: url(../../images/icon/icon-play.png) no-repeat left top;
      width: 30px;
      height: 30px;
      display: block;
      margin-top: 3px;
      position: absolute;
      top: -68px;
      left: 66px;
      opacity: 0;
      -webkit-transition: all 500ms ease 0s;
      -o-transition: all 500ms ease 0s;
      transition: all 500ms ease 0s;

      &:hover{
        opacity: 1;
      }
  }
  &:hover{
    .icon-play-vid {
      opacity: 1;
    }
  }

}
